{% extends 'base.html.twig' %}

{% block header_user %}
<div class="header_user">
    Користувач {{ user_name }}
</div>
{% endblock %}

{% block main_cont %}

<div class="example-wrapper">
    Сторінка "Про програму"
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Вітаю {{ user_name }}!</h1>
        <h2>Реєстрація успішна.</h2>
    {% else %}
        <h1>Вітаю!</h1>
        <h4>Натисніть кнопку "Вхід"</h4>
        <h4>Вхід можуть виконати тільки зареєстровані користувачі.</h4>
    {% endif %}
    Тестове завдання (Symfony 5.3 + PHP 8.0.5)<br>
    Система реєстрації користувача<br>
</div>
{% endblock %}
