{% extends 'base.html.twig' %}

{% block header_user %}
<div class="header_user">
    Користувач {{ user_name }}
</div>
{% endblock %}

{% block main_cont %}

<div class="example-wrapper">
    <h1>Вітаю!</h1>
    <h4>Натисніть кнопку "Вхід"<br><br>
    Вхід можуть виконати тільки зареєстровані користувачі.</h4>
</div>
{% endblock %}
