@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /* font-family: "Montserrat", sans-serif;
    font-size: 13px; */
    height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

header {
    color: #ffffff;
    background: #232423;
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
    align-items: center;
}

header .header_nav {
    padding:20px 15px;
    font-weight: bold;
    margin-right: auto;
}

header .header_nav a {
    text-decoration: none;
    color: #ffffff;
}

header .header_nav a:hover {
    color: #cacaca;
}

header .header_user {
    padding:20px 15px;
    margin-left: auto;
}

header .header_nav ul {
    display: flex;
    margin-bottom: 0;
}

header .header_nav ul li {
    margin-left: 1rem;
}

header a.btn.btn-primary {
    margin-left: 5px;
}


.center_block_main {
    display: flex;
    margin: auto 0;
    height: 100%;
}

main {
    padding: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

/* main h1 {
    margin: 20px 30px 20px 0;
}

main h4 {
    margin: 20px 30px 20px 0;
} */

button.btn {
    margin-top: 15px;
}


footer {
    text-align: center;
    color: #fff;
    padding: 10px 0;
    width: 100%;
    background: #232423;
}

/* 
 form input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

form input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;  

    appearance: auto;
    margin: 3px 3px 3px 0;

    cursor: default;
    box-sizing: border-box;
    padding: initial;
    border: initial;

}

form input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
} */