{% extends 'base.html.twig' %}

{% block header_user %}
<div class="header_user">
    Користувач {{ user_name }}
</div>
{% endblock %}

{% block main_cont %}

<div class="example-wrapper">
    Сторінка "Успішності реєстрації"
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Вітаю {{ user_name }}!</h1>
        <h2>Реєстрація успішна.</h2>
    {% endif %}
</div>
{% endblock %}
