<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Система реєстрації користувача{% endblock %}</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
    {% block body %}
        <header>
        {% block header %}
            {% block header_nav %}
            <nav class="header_nav">
                <ul>
                    <li><a href="{{ path('app_home') }}">Головна</a></li>
                </ul>
            </nav>
            {% endblock %}
            {% block header_user %}
            {% endblock %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_logout') }}"><button class="green">Вихід</button></a>
        {% else %}
            <a href="{{ path('app_login') }}"><button class="green">Вхід</button></a>
            <a href="{{ path('app_register') }}"><button class="green">Реєстрація</button></a>
        {% endif %}
{#            <a href="#"><button class="green">Вхід</button></a>
            <a href="#"><button class="green">Реєстрація</button></a>
#}        
        {% endblock %}
        </header>

        <div class="center_block_main">
            <main>
            {% block main_cont %}
            {% endblock %}
            </main>
        </div>

        <footer></footer>

    {% endblock %}
    </body>
</html>
